<!-- Footer -->
<footer class="mt-32 text-center">
    <div class="max-w-3xl mx-auto">
        <div class="border-t border-border-primary pt-5">
            <div class="flex flex-col items-center justify-center gap-2">
                {{ $authorData := index site.Data .Language.Lang "author" }}
                {{ $author := cond (and $authorData $authorData.name) $authorData site.Params }}
                {{ with $author }}
                <p class="text-text-secondary text-sm pb-12">© {{ now.Format "2006" }} {{ .name }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</footer>
